* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 1rem;
}

button {
    padding: .5rem 1rem;
    font-size: 1rem;
    background: lightslategray;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: darkgrey;
}